html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 12px;
  }
  
  figure {
      text-align: center;
  }


  body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: left;
    color: #ECEFF1;
    margin: 1em;
  }
   
  h1 {
    font-size: 4rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 40px;
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
  
  h2 {
    font-size: 3.25rem;
  }
  
  a {
    color: #090779;
  }
  
  a:visited {
    color: #280463;
  }
  
  #main {
    box-sizing: content-box;
    width: 100%;
    padding: 15px;
    background: #01070a;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  img {
    display: block;
    width: 40%;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
  
  #img-div {
    padding: 10px;
    margin: 0;
  }
  
  #img-caption {
    margin: 0px 0 5px 0;
    font-size: 16px;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  #tribute-link {
    padding-top: 1em;
    font-size: 18px;
    text-align: justify;
  }
  
  #headline {
     text-align: left;
     font-family: Oswald;   
     font-size: 25px;
  }
  
  #a-container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 3em;
margin-left: 1em;
margin-right: 1em;
align-items: stretch;

  }

  #a-box1 {
   
    width: auto;
    height: auto;
    align-items: center;
    flex-shrink: 1;
   
  }
  .box-img {
width: 80%;
height: auto;
justify-content: center;
  }

  .text-img {
display: flex;
width: auto;
justify-content: center;
font-size: 1.5rem;
  }

  #a-box2 {
    width: 70%;
    height: auto;
    align-self: center;
    flex-shrink: 1;
    padding-left: 1em;
  }

#b-container {
  display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 3em;
margin-left: 1em;
margin-right: 1em;
align-items: stretch;
}

#b-box1 {
  
    width: 30em;
    height: auto;
    align-self: center;
    flex: 2 2 115px;
    
  
}

#b-box2 {
    width: 35em;
    height: auto;
    align-self: center;
    flex: 2 2 185px;
}
#c-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  align-items: stretch;
}

#c-box1 {
  width: auto;
  height: auto;
  align-items: center;
  flex: 2 2 110px;
  padding-top: 1em;
}

#c-box2 {
  width: auto;
  height: auto;
  align-self: center;
  flex: 2 2 190px;
  padding-left: 1em;
    
}
  
  blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
  }
  