main {
  background-color: #144e75;
  padding-top: 40px;
  font-family: Raleway;
  text-align: left;
  font-size: 18px;
  margin: 5px;
  border: 1px;
}

#main {
  padding: 10px;
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

#img-div {
  display: flexbox;
  text-align: center;
}

#image {
  width: 60%;
  height: auto;
}

#img-caption {
  text-align: center;
}

#tribute-info {
  font-size: 16px;
}

.heading {
  font-family: Oswald;
  font-size: 24px;
  font-weight: bold;
}

#section-one {
  margin: 0px;
  padding: 5px;
  float: right;
  width: 50%;
  height: auto;
}

#stop-one {
  clear: right;
}

.container2 {
  margin: 0px;
  padding: 5px;
  display: flexbox;
  width: 100%;
  flex-direction: row;
}

.img2 {
  width: 350px;
  height: auto;
}

.text2 {
  width: 45%;
  height: auto;
}

#tribute-link {
  font-size: 18px;
  text-align: justify;
}

#link-img {
  display: flexbox;
  text-align: center;
  flex-direction: column;
}
#link-image {
  width: 400px;
  height: auto;
}
#link-caption {
  text-align: center;
}
