body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ff9966;
}

.title {
  font-family: raleway;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
}

.subtitle {
  text-align: center;
}

img {
  width: 50%;
  margin: auto;
  display: block;
}

.caption {
  text-align: center;
  font-size: 16px;
}
.headline {
  font-family: Oswald;
  font-size: 30px;
}
.container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
  margin: 0px 0px 0px 0px;
  flex-wrap: wrap;
}

.text1 {
  width: 60%;
  height: auto;
}

.image1 {
  width: 40%;
  height: auto;
  font-size: 12px;
}
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
  margin: 0px 0px 0px 0px;
  flex-wrap: wrap;
}

.text2 {
  width: 60%;
  height: auto;
}

.image2 {
  width: 40%;
  height: auto;
  font-size: 12px;
  text-align: center;
}
.container3 {
  display: flex;
   flex-direction: row;
  justify-content: center;
  height: 400px;
  width: auto;
  margin: 0px 0px 0px 0px;
  flex-wrap: wrap;
}

.text3 {
  width: 60%;
  height: auto;
}

.image3 {
  width: 40%;
  height: auto;
  font-size: 12px;
  text-align: center;
}

.quote {
  text-align: center;
}

.links {
  text-align: justify;
}
